/* Modelo de caja: 
Es la forma en que css ve a los elementos HTML y ¿Cómo los ve? Como si fueran cajas con las siguientes propiedades:
1) El contenido (content) texto del elemento HTML, tomando en cuenta sus dimensiones height and width
3) El relleno (padding) Son las distancias internas (desde el contenido HTML al borde)
2) El borde (border) Lo que delimita cada uno de los elementos HTML
3) El margen (margin) Son las distancias externas (desde el borde del elemento HTML hacia sus elementos padres/hermanos)

Dentro del modelo de cajas hay que considerar que una caja tiene 4 lados:
1) Arriba top
2) Derecha Right
3) Abajo Botton
4) Izquierda Left
*/
h1 {
  width: 400px;
  height: 200px;
  /*propiedades short hand */
  border-color: brown;
  border-style: solid;
  border-width: 3px;
  /*thin 1px - medium 3px - thick 5px*/
  border: medium dashed greenyellow;
}

body {
  margin: 0;
}

.caja-uno,
.caja-dos {
  background-color: chocolate;
  border: medium solid orange;
  /* Esto aplica para margin y padding*/
  /* 1 valor= top-right-botton-left*/
  padding: 10px;
  margin: 20px;
  /*2 valores= top-botton / right-left*/
  padding: 40px 20px;
  margin: 20px 40px;
  /*3 valores= top / right-left / botton*/
  padding: 0 40px 20px;
  margin: 50px 30px 0;
  /*4 valores= top / right / botton / left*/
  padding: 0 40px 20px 30px;
  margin: 50px 30px 0 50px;
}

/****************************Caja de linea vs Caja de bloque******************************/

/* 
Caja de Línea:
-Ocupan el espacio necesario para mostrar su contenido.
-No tienen dimensiones modificables(ancho, alto)
-Permiten otros elementos a su lado.
-Padding y Margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.
caja de Bloque:
-Ocupan todo el ancho disponible, lo que genera saltos de línea.
-Tienen dimensiones modificables(alto, ancho)
-No permiten otros elementos a su lado(auque especifique un ancho, siguen ocupando todo el ancho disponible a lo ancho generando saltos de línea).
*/

.caja-linea,
.caja-bloque {
  background-color: burlywood;
  width: 500px;
  height: 250px;
  border: medium solid black;
  padding: 16px;
}

.caja-bloque {
  margin: 32px;
}

.caja-linea {
  margin: 48px;
}

/********************************Propiedad Display****************************************/

/* 
Propiedad display:
inline
block
inline-block: Se comporta como un elemento en línea pero acepta modificaciones en sus dimenciones (alto y ancho) 
none
table
list-item
flex
grid
*/

.caja-display-linea {
  display: inline;
  display: block;
}

.caja-display-bloque {
  display: block;
  display: inline;
}

.caja-none,
.caja-linea-bloque,
.caja-hidden {
  background-color: olive;
  color: white;
  margin-top: 50px;
  /* padding: 16px; */
  width: 600px;
  height: 300px;
  border: thick solid black;
}

.caja-linea-bloque {
  display: inline-block;
}

.caja-none {
  display: none;
}

/****************************Propiedad Visibility*****************************************/

.caja-hidden {
  visibility: hidden;
}

/*************************************Overflow********************************************/

.overflow {
  background-color: darkblue;
  width: 200px;
  height: 100px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

/********************************Tamaño de Caja*******************************************/

/* Tamaño de Caja */

.tamanio-caja-content {
  background-color: aqua;
  box-sizing: content-box;
  width: 500px;
  height: 250px;
  /* w 500 */
  /* h 250 */
  padding: 10px;
  /* w 500 + 10 + 10 = 520 */
  /* h 250 + 10 + 10 = 270 */
  border: thick solid black;
  /* w 500 + 10 + 10 + 5 + 5 = 530 */
  /* h 250 + 10 + 10 + 5 + 5  = 280 */
}

.tamanio-caja-border {
  background-color: aqua;
  box-sizing: border-box;
  width: 500px;
  height: 250px;
  /* w 500 */
  /* h 250 */
  padding: 10px;
  /* w 500 */
  /* h 250 */
  border: thick solid black;
  /* w 500 */
  /* h 250 */
}

.container-col-3 {
  background-color: brown;
  width: 600px;
  margin-top: 20px;
  height: 300px;
}

.container-col-3>* {
  width: 178px;
  /* Antes de border box tenias que restar aca o en el conedor */
  float: left;
  padding: 10px;
  border: thin solid red;
}

/*
Le damos al html el valor de border-box
shtml {
  box-sizing: border-box;
}

Y heredamos a todos los elementos, todos los elementos generados con los pseudoelementos before y todos los elementos generados con los pseudoelementos after
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/*****************************Propiedad Float & Clear*************************************/

/* float */

.container-floats {
  background-color: cornflowerblue;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

/******************************Colapso de Márgenes Verticales*****************************/

.margin-collapse {
  background-color: skyblue;
}

/* Solo trabajar 1  tipo de margen o bottom o top nunca los 2*/

.margin-collapse section {
  border: thin solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-collapse span {
  display: inline-block;
  margin: 0 25px;
  border: thin solid black;
}

/************************************Centrado De Cajas************************************/

.sitio-web {
  border: thin solid black;
  background-color: thistle;
  width: 800px;
  height: 1000px;
  padding: 16px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  /* Es mala practica porque resetea el top y bottom */
  margin: 0 auto;
}